/*Colors*/
/* Fonts */
@font-face {
  font-family: "KumbhSans-Black";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Black.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-Bold";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-ExtraBold";
  src: url("../fonts/Kumbh_Sans/KumbhSans-ExtraBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-ExtraLight";
  src: url("../fonts/Kumbh_Sans/KumbhSans-ExtraLight.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-Light";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-Medium";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-Regular";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-SemiBold";
  src: url("../fonts/Kumbh_Sans/KumbhSans-SemiBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans-Thin";
  src: url("../fonts/Kumbh_Sans/KumbhSans-Thin.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Black";
  src: url("../fonts/SourceCodePro/SourceCodePro-Black.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-BlackItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-BlackItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Bold";
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-BoldItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-BoldItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-ExtraBold";
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-ExtraBoldItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraBoldItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-ExtraLight";
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-ExtraLightItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-ExtraLightItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Italic";
  src: url("../fonts/SourceCodePro/SourceCodePro-Italic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Light";
  src: url("../fonts/SourceCodePro/SourceCodePro-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-LightItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-LightItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Medium";
  src: url("../fonts/SourceCodePro/SourceCodePro-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-MediumItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-MediumItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-Regular";
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-SemiBold";
  src: url("../fonts/SourceCodePro/SourceCodePro-SemiBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro-SemiBoldItalic";
  src: url("../fonts/SourceCodePro/SourceCodePro-SemiBoldItalic.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*menu movil*/
.container-principal {
  display: flex;
}
@media screen and (max-width : 768px) {
  .container-principal {
    display: block;
  }
}
.container-principal .site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 9rem;
  box-shadow: -8px -20px 20px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width : 768px) {
  .container-principal .site-header {
    display: block;
    padding: 0;
    box-shadow: none;
  }
}
.container-principal .site-header .content-header {
  position: sticky;
  top: 0;
  padding-top: 1.3rem;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
  }
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .navigation-bar {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .navigation-bar .logo {
    display: flex;
    align-items: center;
  }
}
.container-principal .site-header .content-header .navigation-bar .logo a img {
  width: 150px;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .navigation-bar .logo a img {
    width: 100px;
  }
}
.container-principal .site-header .content-header .navigation-bar .menu-principal li {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .navigation-bar .menu-principal li {
    display: none;
  }
}
.container-principal .site-header .content-header .navigation-bar .menu-principal :last-of-type {
  margin-bottom: 5rem;
}
.container-principal .site-header .content-header .navigation-bar .menu-principal a {
  font-family: "KumbhSans-Medium";
  color: #808080;
  font-size: 2.2rem;
  opacity: 0.5;
}
.container-principal .site-header .content-header .navigation-bar .menu-principal a:hover {
  color: #5D5D5D;
  scale: 1;
  font-size: 2.8rem;
  transition: all 0.2s;
  opacity: 1;
}
.container-principal .site-header .content-header .icon-networks-header {
  display: flex;
  align-items: center;
  margin-right: 6rem;
  margin: 0;
}
.container-principal .site-header .content-header .icon-networks-header i {
  color: #808080;
  padding: 1rem;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .icon-networks-header :nth-child(3) {
    margin-right: 2rem;
  }
}
.container-principal .site-header .content-header .icon-networks-header .slicknav_menu {
  display: none;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .icon-networks-header .slicknav_menu {
    display: block;
    background-color: #fff;
  }
}
.container-principal .site-header .content-header .icon-networks-header .slicknav_menu .slicknav_btn {
  background-color: #fff;
  border: 1px solid #AFAFAF;
  border-radius: 2rem;
  padding: 1rem;
}
.container-principal .site-header .content-header .icon-networks-header .slicknav_menu .slicknav_icon span {
  background-color: #AFAFAF;
}
.container-principal .site-header .content-header .icon-networks-header .slicknav_menu .slicknav_nav {
  background: #fff;
  position: absolute;
  left: 0px;
  width: 100%;
  top: 105px;
}
@media screen and (max-width : 768px) {
  .container-principal .site-header .content-header .icon-networks-header .slicknav_menu .slicknav_nav a {
    font-size: 2.4rem;
    color: #808080;
    font-family: "KumbhSans-Medium";
    text-align: center;
  }
}

footer {
  background-color: #410099;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
@media screen and (max-width : 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer .contact-footer {
  color: #fff;
  margin-top: 4rem;
}
@media screen and (max-width : 768px) {
  footer .contact-footer {
    text-align: center;
  }
}
footer .contact-footer h4 {
  font-family: "SourceCodePro-Regular";
  font-size: 1.6rem;
}
footer .contact-footer p {
  font-size: 1.3rem;
  font-family: "KumbhSans-ExtraLight";
}
footer .social-networks-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
  margin-top: 4rem;
}
footer .social-networks-footer h4 {
  font-family: "SourceCodePro-Regular";
  font-size: 1.6rem;
}
footer .social-networks-footer .icons-social-networks-footer {
  display: flex;
  justify-content: space-between;
}
footer .social-networks-footer .icons-social-networks-footer i {
  color: #fff;
  font-size: 1.3rem;
}
footer .logo-footer img {
  width: 250px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  font-family: "KumbhSans-Regular";
}

*, *:before, *:after {
  box-sizing: inherit;
  /* 10px = 1rem*/
}

h1, h2, h3, h4 {
  margin: 1rem 0;
  line-height: 1rem 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.4rem;
}

/*Globals*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
