
@import "variables";
@import "fonts/Kumbh_Sans";
@import "fonts/SourceCodePro";
@import "inc/header";
@import "inc/footer";
@import "inc/slider";
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
    font-family: $font-main;
}
*, *:before, *:after{
    box-sizing: inherit;
    /* 10px = 1rem*/
}
h1,h2,h3,h4{
    margin: 1rem 0;
    line-height: 1rem 0;
}

h1{
    font-size: 6rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 3.3rem;
}
h4{
    font-size: 2.4rem;
}

/*Globals*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
