@font-face {
    font-family: 'KumbhSans-Black';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Black.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'KumbhSans-Bold';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Bold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'KumbhSans-ExtraBold';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-ExtraBold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'KumbhSans-ExtraLight';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-ExtraLight.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'KumbhSans-Light';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Light.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'KumbhSans-Medium';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Medium.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'KumbhSans-Regular';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Regular.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'KumbhSans-SemiBold';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-SemiBold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'KumbhSans-Thin';
    src: url('#{$url--font}Kumbh_Sans/KumbhSans-Thin.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
   }
  