@font-face {
    font-family: 'SourceCodePro-Black';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Black.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-BlackItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-BlackItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-Bold';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Bold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-BoldItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-BoldItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-ExtraBold';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-ExtraBold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-ExtraBoldItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-ExtraBoldItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-ExtraLight';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-ExtraLight.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-ExtraLightItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-ExtraLightItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-Italic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Italic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-Light';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Light.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-LightItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-LightItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-Medium';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Medium.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-MediumItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-MediumItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-Regular.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-SemiBold';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-SemiBold.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceCodePro-SemiBoldItalic';
    src: url('#{$url--font}SourceCodePro/SourceCodePro-SemiBoldItalic.ttf') format('woff');
   
    font-weight: normal;
    font-style: normal;
  }